<% if logged_in? %>

  <h1><%= current_user.name %>さんのタスク</h1>

  <% if @tasks.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-2">id</th>
        <th class="col-xs-5">タスク</th>
        <th class="xol-xs-5">状況</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
    
        <tr>
          <td><%= link_to task.id, task %></td>
          <td><%= task.content %></td>
          <td><%= task.status %></td>
        </tr>
      
      <% end %>
    </tbody>
  
  </table>


  <div>
    <%= paginate @tasks %>
  </div>
  
  <% end %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to "Sign up now!", signup_path, class:"btn btn-primary btn-lg" %>
    </div>
  </div>
  
  <div id="guest_user">
    <h4>
      アプリの機能を確認したい方は、ゲストアカウントを用意しています。以下を使ってログインしてください。<br><br>
    </h4>
    <p>
      email: <b>user1@ruby.ruby</b><br>
      password: <b>1231</b>
    </p>
  </div>

<% end %>